/*plaheta de cores salvar https://paletadecores.com/paleta/fb6900/f63700/004853/007e80/00b9bd/*/

@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap'); /*Fonte importada*/
body
{
    background: #004853;
    margin: 0;
    padding: 0;
}
.div_background
{
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_background_video
{
    position: absolute;
    width: 100%; /*Largura*/
    height: 100%; /*altura*/
    object-fit: cover; /*manter proporção do vídeo*/
}
.div_background_h1 /*Fonte H1*/
{
    color: #f63700;
    font-size: 100px;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: 1; /*Controla a profundidade do item, x controla o eixo horinzontal e o y a vertical*/
}
@media (max-width: 768px)
{
    .div_background_h1
    {
        font-size: 40px;
    }
    /* Também poderia usar o para responsividade font-size: clamp(40px, 10vw, 100px); /*Tamanho minimo, cresce e diminuir conforme a largura da tela, tamanho maximo, isso garante a responsividade*/
}

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3b00;
}


